* {
    margin: 0;
    padding: 0;
  }

input {
    appearance: none;
  }
.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;  
}

.content p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .content .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
  }

  .card {
    border-radius: 10px;
    box-shadow: 3px 3px 0 0 black;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }

.header{
    display: grid;
    grid-column: 2/3;
    background-color: aqua;
}

.photo{
    width: 100px;
    height: 100px;
}

.sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
 }
  
  
.sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
}


input[type='search'] {
    width: 300px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
}

/* add on focus effects */

.sidebar {
    display: grid;
    grid-row: 1/3;
    background-color: blueviolet;
    
    
}

.sidebar ul {
    display: grid;
    font-size: 20px;
    text-align: center;
    list-style: none;
    
}

.options-1 {
    grid-template-rows: repeat(6,25px);
    gap: 15px;
}

.options-2 {
    grid-template-rows: repeat(3,25px);
    gap: 15px;
}


.content{
    background-color: red;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 250px) ;
    grid-template-rows: repeat(3,250px);
    grid-auto-flow: column;
    gap: 15px;
}


